numpy
pandas
matplotlib
scikit-learn
xgboost>=1.6.0
statsmodels
pmdarima
joblib
tqdm
python-dotenv
jupyter
ipykernel

# For GPU support, install PyTorch manually using the command from the official website:
# https://pytorch.org/get-started/locally/
# Example for CUDA 11.8: pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118